<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{{ url_for('static', filename='js/cookie.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/both.css') }}" />
  <style>
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        position: relative;
    }
    .back {
        margin-left: 18px;
    }
    .name {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .nameshow {
        margin-right: 12px;
    }
  </style>
</head>
<body>
  <div class="top">
      <p onclick="history.back();" class="back"><i class="fa fa-chevron-left" aria-hidden="true"></i></p>
      <p class="name">학원공지</p>
  </div>
  <div class="content">
    <h2>수강신청 안내</h2>
    <p>2024년 3월 4일부터 수업 > 수강신청 메뉴에서 수강신청이 가능합니다.</a></p>
    <br>
    <p>▶️학원설명회 영상</p>
    <iframe style="width: 100vw;height: 30vh;" src="https://www.youtube.com/embed/1IwZOT_NkeM?si=99C8aXWR7PjGMtd3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br>
    <p>▶️강좌목록</p>
    {% for lecture in lectures %}
    <h3>{{ lecture.name }}</h3>
    <p>강사: {{ lecture.teacher }}<br>총 {{ lecture.week }}주차 구성<br>{{ lecture.info }}</p>
    {% endfor %}
  </div>

  <div class="navbar">
    <a href="https://32fcfb33-7a7b-4b47-8c3d-4e2b0260a1bb-00-3c18wu9dtnmx2.janeway.replit.dev/" ><i class="fa fa-fw fa-home"></i>홈</a> 
    <a href="https://32fcfb33-7a7b-4b47-8c3d-4e2b0260a1bb-00-3c18wu9dtnmx2.janeway.replit.dev/notice" class="active"><i class="fa fa-fw fa-bell"></i>공지</a> 
    <a href="https://32fcfb33-7a7b-4b47-8c3d-4e2b0260a1bb-00-3c18wu9dtnmx2.janeway.replit.dev/lesson"><i class="fa fa-fw fa-graduation-cap"></i>수업</a>
    <a href="https://32fcfb33-7a7b-4b47-8c3d-4e2b0260a1bb-00-3c18wu9dtnmx2.janeway.replit.dev/account"><i class="fa fa-fw fa-user"></i>계정</a>
  </div>
</body>
</html>
