<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{{ url_for('static', filename='js/cookie.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/both.css') }}" />
</head>
<body>
  <div class="top" style="display:flex;justify-content:space-between;">
    <h1 style="margin-left: 12px;">홈</h1>
    <p class="nameshow" style="margin-right: 12px;">로그인을 해주세요</p>
  </div>
  <div class="content">
    <p>중요공지</p>
    <center>
      <div class="selection" style="text-align: left;">
        <div class="notice" style="margin-left: 10px;">
          <hr>
          <h3 onclick="location.href='https://32fcfb33-7a7b-4b47-8c3d-4e2b0260a1bb-00-3c18wu9dtnmx2.janeway.replit.dev/noticeview/4'">이달의 학생</h3>
          <hr>
          <h3 onclick="location.href='https://32fcfb33-7a7b-4b47-8c3d-4e2b0260a1bb-00-3c18wu9dtnmx2.janeway.replit.dev/noticeview/5'">명예의 전당</h3>
          <hr>
          <h3 onclick="location.href='https://32fcfb33-7a7b-4b47-8c3d-4e2b0260a1bb-00-3c18wu9dtnmx2.janeway.replit.dev/noticeview/6'">수강신청 안내</h3>
          <hr>
        </div>
      </div>
    </center>
    <br>
    
    <p>이벤트 목록</p>
    <center>
      <div class="selection" style="text-align: left;">
        <div class="notice" style="margin-left: 10px;">
          <center>진행 중인 이벤트가 없습니다</center>
        </div>
      </div>
    </center>
  </div>

  <div class="navbar">
    <a href="https://32fcfb33-7a7b-4b47-8c3d-4e2b0260a1bb-00-3c18wu9dtnmx2.janeway.replit.dev/" class="active"><i class="fa fa-fw fa-home"></i>홈</a> 
    <a href="https://32fcfb33-7a7b-4b47-8c3d-4e2b0260a1bb-00-3c18wu9dtnmx2.janeway.replit.dev/notice"><i class="fa fa-fw fa-bell"></i>공지</a> 
    <a href="https://32fcfb33-7a7b-4b47-8c3d-4e2b0260a1bb-00-3c18wu9dtnmx2.janeway.replit.dev/lesson"><i class="fa fa-fw fa-graduation-cap"></i>수업</a>
    <a href="https://32fcfb33-7a7b-4b47-8c3d-4e2b0260a1bb-00-3c18wu9dtnmx2.janeway.replit.dev/account"><i class="fa fa-fw fa-user"></i>계정</a>
  </div>
  <script>
    var youbu = "{{save}}";
    if (youbu == "true") {
      var savename = encodeURIComponent("{{name}}");
      setCookie("name", savename, 31);
      setCookie("password", "{{password}}", 31);
    };
    name = getCookie("name");
    if (name != "null") {
      const nametext = document.querySelector(".nameshow");
      nametext.innerHTML = name;
    }
  </script>
</body>
</html>
