<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{{ url_for('static', filename='js/cookie.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/both.css') }}" />
</head>
<body onscroll="scrollCheck()">
  <div class="top" style="display:flex;justify-content:space-between;">
    <h1 style="margin-left: 12px;">공지</h1>
    <p class="nameshow" style="margin-right: 12px;">로그인을 해주세요</p>
  </div>

  <div class="content">
    <p>학원공지</p>
    <center>
      <div class="selection" style="text-align: left;">
        <div class="notice" style="margin-left: 10px;">
          <hr>
          <h3 onclick="location.href='https://32fcfb33-7a7b-4b47-8c3d-4e2b0260a1bb-00-3c18wu9dtnmx2.janeway.replit.dev/noticeview/1'">2024년 상반기 채용공고</h3>
          <hr>
          <h3 onclick="location.href='https://32fcfb33-7a7b-4b47-8c3d-4e2b0260a1bb-00-3c18wu9dtnmx2.janeway.replit.dev/noticeview/3'">캠퍼스 위치 안내</h3>
          <hr>
          <h3 onclick="location.href='https://32fcfb33-7a7b-4b47-8c3d-4e2b0260a1bb-00-3c18wu9dtnmx2.janeway.replit.dev/noticeview/6'">수강신청 안내</h3>
          <hr>
        </div>
      </div>
    </center>

    <p>선생님공지</p>
    <center>
      <div class="selection" style="text-align: left;">
        <div class="notice" style="margin-left: 10px;">
            {% for post in postings %}
              <hr>
              <h3 onclick="location.href='https://32fcfb33-7a7b-4b47-8c3d-4e2b0260a1bb-00-3c18wu9dtnmx2.janeway.replit.dev/postview/{{ post.num }}'">{{ post.name }}</h3>
            {% endfor %}
            <hr>
        </div>
      </div>
      <div class="login" style="display: block;">
        <p>로그인을 하면 공지목록이 나타납니다</p>
        <a style="text-decoration: none;color:#18A8F1;" href="https://32fcfb33-7a7b-4b47-8c3d-4e2b0260a1bb-00-3c18wu9dtnmx2.janeway.replit.dev/login">로그인 <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
      </div>
    </center>
  </div>

  <div class="navbar">
    <a href="https://32fcfb33-7a7b-4b47-8c3d-4e2b0260a1bb-00-3c18wu9dtnmx2.janeway.replit.dev/" ><i class="fa fa-fw fa-home"></i>홈</a> 
    <a href="https://32fcfb33-7a7b-4b47-8c3d-4e2b0260a1bb-00-3c18wu9dtnmx2.janeway.replit.dev/notice" class="active"><i class="fa fa-fw fa-bell"></i>공지</a> 
    <a href="https://32fcfb33-7a7b-4b47-8c3d-4e2b0260a1bb-00-3c18wu9dtnmx2.janeway.replit.dev/lesson"><i class="fa fa-fw fa-graduation-cap"></i>수업</a>
    <a href="https://32fcfb33-7a7b-4b47-8c3d-4e2b0260a1bb-00-3c18wu9dtnmx2.janeway.replit.dev/account"><i class="fa fa-fw fa-user"></i>계정</a>
  </div>
  <script>
    name = getCookie("name");
    if (name != "null") {
      const nametext = document.querySelector(".nameshow");
      nametext.innerHTML = name;
      const logingo = document.querySelector(".login");
      logingo.style.display = "none";
    }
  </script>

  <script>
      function scrollCheck() {
          if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
              document.getElementById("refresh").style.display = "none";
          } else {
              document.getElementById("refresh").style.display = "block";
              location.reload();
          }
      }
  </script>
</body>
</html>
